<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBieVGy22Z90kGBs6K7JbdrMn03yazTwPE</string>
	<key>GCM_SENDER_ID</key>
	<string>1047406277123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sairatec.instagramCloneApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-12d85</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-12d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047406277123:ios:0378e2b1f12c3441a05436</string>
</dict>
</plist>